
.heading__ {
  color:black;
  text-align: center;
  font-size:100px;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(205, 205, 205);
}

p {
  font-family: verdana;
  font-size: 20px;
}

body {
    background-color: rgb(221, 221, 221);
  }
  
  h3 {
    color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }

  h5 {
    color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }

  * {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}